//Lucas Casarin Marquezini
$dark-overlay:rgba(0,0,0,0.7);
.navbar{
  .nav-link{
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  .nav-item.active{
    border-left:#444 3px solid;
  }
}
//Achei o erro depois de 1 hora e meia em cima disso
#navbar{
    .filmes-cor{
      background:000;
    }
    .dropdown-menu{
      background:#000;
    }
    .dropdown-item{
      color: #fff;
      background: #000;
    }
    .dropdown-item:hover{
      color: #fff;
      background: #288893;
    }
}
#galeria{
  .fa{
    font-size:20px;
  }
  img{
    align-items: center;
    border: 1px #288893 solid;
  }
  .post-meta{
    font-size: 13px;
  }
  .post-cats{
    font-size: 13px;
  }
  .link-title{
    text-decoration: none;
    color: #288893;
  }
  .link-title:hover{
    text-decoration: none;
    color: #ff0054;
  }
}
footer#main-footer{
  background: #000;
  color: #fff;
}
#share{
  .fa{
    font-size:25px;
  }
}
